<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <title>Cadastro de Endereço</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg custom-header">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Cadastro</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://localhost:8080/cadastroPessoa">Pessoa</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/cadastroEndereco">Endereço</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/cadastroCurso">Curso</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Curso</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://localhost:8080/matricula">Matricular Estudante</a></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/profOferta">Professor da Oferta</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> <!-- nav -->

<div class="div-alert">
    <div th:if="${mensagemSucesso}" id="success-alert" class="alert alert-success">
        <p th:text="${mensagemSucesso}"></p>
    </div>
    <div th:if="${PessoaNaoEncontradaE}" id="error-alert" class="alert alert-danger">
        <p th:text="${PessoaNaoEncontradaE}"></p>
    </div>
    <div th:if="${mensagemErroJaCadastrado}" id="error-alert2" class="alert alert-danger">
        <p th:text="${mensagemErroJaCadastrado}"></p>
    </div>
</div>  <!-- Alert -->


<div class="div-borda">
    <h3 class="titulo">Cadastro de Endereço:</h3>

    <form class="form-container" th:action="@{endereco/salvarEndereco}" th:object="${enderecoDTO}" method="post">
        <div class="row">
            <div class="col">
                <label th:for="*{CODPESSOA}" class="form-label">Código</label>
                <input type="text" class="form-control campo_config" th:field="*{CODPESSOA}" id="CODPESSOA" required>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <label th:for="*{cidade}" class="form-label">Cidade:</label>
                <input type="text" class="form-control campo_config" th:field="*{cidade}" id="cidade" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label th:for="*{cep}" class="form-label">CEP:</label>
                <input type="text" class="form-control campo_config" th:field="*{cep}" id="cep" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label th:for="*{rua}" class="form-label">Rua:</label>
                <input type="text" class="form-control" th:field="*{rua}" id="rua" required>
            </div>

            <div class="col">
                <label th:for="*{numero}" class="form-label">Número:</label>
                <input type="text" class="form-control" th:field="*{numero}" id="numero" required>
            </div>
        </div>

        <div style="padding: 10px 0px" class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Save</button>
                <a th:href="@{/menuPrincipal}" class="btn btn-danger">Cancel</a>
            </div>
        </div>

        <script>
            setTimeout(function() {
                var errorAlert = document.getElementById('error-alert');
                if (errorAlert) {
                    errorAlert.remove();
                }
            }, 3000);

            setTimeout(function() {
                var successAlert = document.getElementById('success-alert');
                if (successAlert) {
                    successAlert.remove();
                }
            }, 3000);

            setTimeout(function() {
                var errorAlert = document.getElementById('error-alert2');
                if (errorAlert) {
                    errorAlert.remove();
                }
            }, 3000);
        </script>

    </form>

</div>

</body>
</html>
